*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/google-services.json
*.apk
*.ap_
*.class
*.dex
*.o
*.so
*.aar
*.gradle
.idea/
app/release/
app/farma-quiz-406212-7fcf675014c9.json
app/farma_quiz_keystore.jks
app/keystore.properties
app/service-account.json